
.DS_Store
Droid/Assets/AboutAssets.txt

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*/*/*/bin/*
*/*/*/obj/*

Components
packages
bin
obj

*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx
*.lock.json
*.nuget.props
*.nuget.targets
.vs
KXStarterApp/AppConstants.cs
KXStarterApp/AppConstants.cs
